
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: Arial, sans-serif;
}

main {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

/* OTROS */

img {
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.05); 
    cursor: pointer;
}
